[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-invenio = ">=2.1.0,<3.0.0"
pytest-black = ">=0.3.0"
sphinx = ">=4.5"
isort = "<6.0" # Unpin when isort==6.0.0 is released

[packages]
invenio-app-rdm = {version = "~=12.0.0b2.dev3", extras = ["opensearch2"]}
invenio-logging = {extras = ["sentry_sdk"], version = "~=2.0"}
zenodo_rdm = {editable="True", path="./site"}
zenodo_legacy = {editable="True", path="./legacy"}
# TODO: Remove once we fix PyPI package issues
invenio-swh = {git = "https://github.com/inveniosoftware/invenio-swh", ref = "v0.2.1"}
jsonschema = ">=4.17.0,<4.18.0" # due to compatibility issues with alpha
ipython = "!=8.1.0"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"

[requires]
python_version = "3.9"
