[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
invenio-app-rdm = {version = "==13.0.0b4.dev0", extras = ["opensearch2"]}
invenio-checks = ">=0.1.0,<1.0.0"
# ORCID Public Data Sync depends on s3fs
invenio-vocabularies = {extras = ["s3fs"]}
sentry-sdk = ">=1.45,<2.0.0"
zenodo_rdm = {editabl=true, path="./site"}
zenodo_legacy = {editable=true, path="./legacy"}
# TODO: Remove once we fix PyPI package issues
invenio-swh = {git = "https://github.com/inveniosoftware/invenio-swh", ref = "v0.13.1"}
# NOTE: Pinned because of multiple breaking dependencies
commonmeta-py = "==0.8.6"
jsonschema = ">=4.17.0,<4.18.0" # due to compatibility issues with alpha
ipython = "!=8.1.0"
pyuwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
pyvips = ">=2.2.2,<3.0.0"

[requires]
python_version = "3.9"
