include *.sh
include .gitkeep
recursive-include tests *.py
recursive-include zenodo_rdm *.gitkeep
recursive-include zenodo_rdm *.html
recursive-include zenodo_rdm *.js
recursive-include zenodo_rdm *.md
recursive-include zenodo_rdm *.sql
recursive-include zenodo_rdm *.yaml
recursive-include zenodo_rdm *.json
recursive-include zenodo_rdm *.py
recursive-include zenodo_rdm *.sh
recursive-include zenodo_rdm *.xml
recursive-include zenodo_rdm *.less
