include *.sh
include *.yaml
recursive-include scripts *.py
recursive-include scripts *.sh
recursive-include scripts *.sql
recursive-include tests *.gz
recursive-include tests *.py
recursive-include zenodo_rdm_migrator *.py
