{%- extends 'invenio_app_rdm/frontpage.html' %}

{%- block page_header %}
{%- include "header_frontpage.html" %}
{%- endblock page_header %}

{%- block page_body %}
<section id="features" class="features-section section-content-white-bg">
  <div class="container">
    <span class="section-title">{{config.THEME_SITENAME}} in a nutshell</span>

    <div class="ui three column grid">
      <div class="row  features-section-row">
        <div class="left floated four wide column">
          <h6>Research. Shared.</h6>
          <p>
            All research outputs from across all fields of research are
            welcome! Sciences and Humanities, really!
          </p>
        </div>
        <div class="four wide column">
          <h6>Citeable. Discoverable.</h6>
          <p>
            Uploads gets a Digital Object Identifier (DOI) to make them easily
            and uniquely citeable.
          </p>
        </div>
        <div class="right floated four wide column">
          <h6>Communities</h6>
          <p>
            Create and curate your own community for a workshop, project,
            department, journal, into which you can accept or reject uploads.
            Your own complete digital repository!
          </p>
        </div>
      </div>

      <div class="row  features-section-row">
        <div class="left floated four wide column">
          <h6>Funding</h6>
          <p>
            Identify grants, integrated in reporting lines for research funded
            by the European Commission via OpenAIRE.
          </p>
        </div>
        <div class="four wide column">
          <h6>Flexible licensing</h6>
          <p>Because not everything is under Creative Commons.</p>
        </div>
        <div class="right floated four wide column">
          <h6>Safe</h6>
          <p>
            Your research output is stored safely for the future in the same
            cloud infrastructure as CERN's own LHC research data.
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>
{%- endblock page_body %}
