<style>
div {
    margin: auto;
    width: 50%;
    background-color: #EAECEE;
}
table {
    margin: auto;
    text-align: center;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.reset_button {
    border-radius: 5px;
    background-color: #3498DB;
    border: none;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 24px;
}
</style>

<div>
    <table>
        <tr>
            <td>
                <a href="{{ url_for('security.login', _external=True) }}">
                    <img src="{{ url_for('static', filename='images/zenodo-gradient-round.svg', _external=True) }}" class="ui image small"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <p>{{ _('Hello, %(username)s!', username=user.username) }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>{{ _('Your password has been successfully changed!') }}</p>
            </td>
        </tr>
        {% if security.recoverable %}
        <tr>
            <td>
                <p>{{ _('If you did not change your password, press the button below to reset it.') }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a class="btn reset_button" href="{{ url_for_security('forgot_password', _external=True) }}">
                        {{ _('Reset my password') }}
                    </a>
                </p>
            </td>
        </tr>
        {% endif %}
    </table>
</div>
