<table style="max-width:500px;border-collapse:collapse;margin:auto;">
    <tbody style="background-color:#EAECEE;text-align:center;font-family:'Lato',Helvetica,Arial,sans-serif;">
        <tr>
            <td style="padding:15px 15px 10px 15px;">
                <a href="{{ url_for('security.login', _external=True) }}">
                    <img src="{{ url_for('static', filename='images/zenodo-gradient-1000.png', _external=True) }}" style="width:250px;border-radius:10px;"/>
                </a>
            </td>
        </tr>
        <tr>
            {% set name = user.profile.full_name if user.profile and user.profile.full_name else user.username %}
            <td style="padding:5px 15px 10px 15px;">
                <p>{{ _('Hello, %(name)s!', name=name) }}</p>
                <p>{{ _('You have received this message because your email address has been registered with Zenodo.') }} </p>
                <p>{{ _('Verify yourself and confirm your email by clicking below.') }}</p>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 15px 15px 15px;text-align:center;">
                <a class="btn confirm_button" href="{{ confirmation_link }}">
                    {{ _('Confirm my account') }}
                </a>
            </td>
        </tr>
    </tbody>
</table>
