<table style="max-width:500px;border-collapse:collapse;margin:auto;">
    <tbody style="background-color:#EAECEE;text-align:center;font-family:'Lato',Helvetica,Arial,sans-serif;">
        <tr>
            <td style="padding:15px 15px 10px 15px;">
                <a href="{{ url_for('security.login', _external=True) }}">
                    <img src="{{ url_for('static', filename='images/zenodo-gradient-1000.png', _external=True) }}" style="width:250px;border-radius:10px;"/>
                </a>
            </td>
        </tr>
        <tr>
            {% set name = user.profile.full_name if user.profile and user.profile.full_name else user.username %}
            <td style="padding:5px 15px 10px 15px;">
                <p>{{ _('Hello, %(name)s!', name=name) }}</p>
                <p>{{ _('Your password has been successfully reset!') }}</p>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 15px 15px 15px;text-align:center;">
                <a href="{{ url_for('security.login', _external=True) }}" style="display:inline-block;border-radius:5px;background-color:#3498DB;border:none;font-size:15px;text-decoration:none;color:white;padding:10px 24px;">
                    {{ _('Go to my account') }}
                </a>
            </td>
        </tr>
    </tbody>
</table>
