<table style="max-width:500px;border-collapse:collapse;margin:auto;">
    <tbody style="text-align:center;font-family:'Lato',Helvetica,Arial,sans-serif;">
        <tr>
            <td style="padding:15px 15px 10px 15px;">
                <a href="{{ url_for('security.login', _external=True) }}">
                    <img src="{{ url_for('static', filename='images/zenodo-gradient-1000.png', _external=True) }}" style="width:250px;border-radius:10px;"/>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 15px 10px 15px;">
                <p>{{ _('Welcome %(username)s!', username= (user.user_profile.get('full_name') or user.username)) }}</p>
                <p>{{ _('Your Zenodo account has been created.')}} </p>
                <p>{{_('We are excited to have you get started!') }} </p>
            </td>
        </tr>

        {% if security.confirmable %}
            <tr>
                <td style="padding:5px 15px 15px 15px;text-align:center;">
                    <p>{{ _('First, you need to confirm your account. Just press the button below.') }}</p>
                    <p>
                        <a href="{{ confirmation_link }}" style="display:inline-block;border-radius:5px;background-color:#3498DB;border:none;font-size:15px;text-decoration:none;color:white;padding:10px 24px;">
                            {{ _('Confirm my account') }}
                        </a>
                    </p>
                </td>
            </tr>
        {% endif %}
        <td style="font-size:smaller;padding:5px 15px 10px 15px;">
            <p>{{ _("To get started, check out our ")}} <a style="text-decoration:none;color:#0576b9" href="https://help.zenodo.org/docs/get-started/">{{ _("documentation.")}}</a><p>
            <p>{{ _("If you didn't register on Zenodo, please ")}}<a style="text-decoration:none;color:#0576b9" href="https://www.zenodo.org/support/">{{ _("contact us.")}}</a></p>
        </td>
    </tr>
    </tbody>
</table>
